[Unit]
Description=Etilab: Python Capture Agent ingest service
Documentation=https://github.com/opencast/pyCA
Wants=network.target
PartOf=pyca-etilab.service
After=pyca-etilab.service

[Service]
Type=notify
NotifyAccess=all
WatchdogSec=3600
User=pyca
WorkingDirectory=/opt/pyCA-etilab
ExecStart=/opt/pyCA-etilab/start.sh ingest
Restart=always
RestartSec=10
TimeoutSec=300

[Install]
WantedBy=pyca-etilab.service
